@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
body {
  background: linear-gradient(135deg, #d8b4fe,#5cafdf,#ab9deb,#d8b4fe,#c29ac7, #93c5fd);
  min-height: 100vh;
  padding: 16px; 
}


.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}
html {
  scroll-behavior: smooth;
}
